{% extends "mobile/base.html" %}
{% block title %}{{ _('Турніри') }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="ui field dropdown">
        <i class="dropdown icon"></i>
        <strong class="header text">{{ year }}</strong>
        <div class="menu">
            {% for y in years %}
                <a class="item"
                   href="{{ url_for('.tournaments', year=y, month=1) }}"
                   data-value="{{ y }}">{{ y }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="ui field dropdown">
        <i class="dropdown icon"></i>
        <strong class="header text">{{ _(month|month_abbr) }}</strong>
        <div class="menu">
            {% for m in range(1, 13) %}
                <a class="item"
                   href="{{ url_for('.tournaments', year=year, month=m) }}"
                   data-value="{{ m }}">{{ _(m|month_abbr) }}</a>
            {% endfor %}
        </div>
    </div>
    <table id="table" class="ui table">
        <thead>
        <tr>
            <th>{{ _('№') }}</th>
            <th>{{ _('Назва') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for t in tournaments %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ url_for('.tournament',id=t.id) }}">{{ name(t.name) }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}