bs4==0.0.1
networkx==2.1
requests>=2.18.4
xlrd==1.1.0

Flask>=0.12.2
Flask-Admin>=1.5.1
Flask-APScheduler>=1.8
Flask-Babel>=0.11.2
Flask-Bcrypt>=0.7.1
Flask-Cache>=0.13.1
Flask-Mail>=0.9.1
Flask-Migrate>=2.1.1
Flask-Mobility>=0.1.1
Flask-SQLalchemy>=2.3.2

