{% macro render_pagination(pagination) %}
    {% if pagination.pages > 1 %}
        <div class="ui pagination menu">
            {% for page in iter_pages(pagination) %}
                {% if page %}
                    {% if page != pagination.page %}
                        <a class="item"
                           href="{{ url_for_other_page(page) }}">{{ page }}</a>
                    {% else %}
                        <strong class="active item">{{ page }}</strong>
                    {% endif %}
                {% else %}
                    <div class="disabled item">
                        ...
                    </div>
                {% endif %}
            {% endfor %}
            {% if pagination.has_next %}
                <a class="item"
                   href="{{ url_for_other_page(pagination.page + 1) }}">{{ _('Next') }} &raquo;</a>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro share_buttons(url) %}
    {# vk share  #}
    <a href="{{ 'http://vkontakte.ru/share.php?title=' + _(config.APP_DESCRIPTION) + '&url=' + url.replace('&','%26') + '&amp' }}"><i
            class="large vk icon"></i></a>
    {# facebook share  #}
    <a href="{{ 'http://www.facebook.com/sharer.php?s=100&p[title]=' + _(config.APP_DESCRIPTION) + '&p[url]=' + url.replace('&','%26') }}"><i
            class="large facebook icon"></i></a>
    {# twitter share  #}
    <a href="{{ 'http://twitter.com/share?url=' + url.replace('&','%26') + '&test=' + _(config.APP_DESCRIPTION) }}"><i
            class="large twitter icon"></i></a>
{% endmacro %}