{% extends "mobile/index.html" %}
{% block title %}{{ _('About') }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="ui ">
        <h3>{{ _('About us') }}:</h3>
        <p>
            {% if g.lang == 'ru' %}
                Сайт использует информацию с ресурсов
                <a href="http://reiting.com.ua">reiting.com.ua</a> и
                <a href="http://old.ittf.com">old.ittf.com</a>. А также
                некоторые изображения взяты с ресурса
                <a href="http://tt-cup.com">tt-cup.com</a>.
            {% endif %}
            {% if g.lang == 'uk' %}
                Cайт використовує інформацію с сайтів
                <a href="http://reiting.com.ua">reiting.com.ua</a> (український
                рейтинг) і
                <a href="http://old.ittf.com">old.ittf.com</a> (Світовий
                рейтинг). А також
                деякі зображення взяті з ресурсу
                <a href="http://tt-cup.com">tt-cup.com</a>.
            {% endif %}
            {% if g.lang == 'en' %}
            {% endif %}
        </p>
    </div>
{% endblock %}