{% extends "mobile/index.html" %}
{% block title %}{{ _('Live Tournament') }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="ui ">
        <form class="ui inline form" action="">
            <h4 class="ui dividing header">{{ _('Create tournament') }}</h4>
            <b>{{ _('Date') }}</b><span>{{ date }}</span>
            <div class="field">
                <label for="name">{{ _('Tournament name') }}</label>
                <input id="name" type="text" name="name">
            </div>
            <div class="ui toggle checkbox">
                <input type="checkbox" name="is_rating" tabindex="0"
                       class="hidden">
                <label>{{ _('Rating tournament') }}</label>
            </div>
            <div class="field">
                <label for="coef">{{ _('Tournament coefficient') }}</label>
                <input id="coef" type="text" name="coef">
            </div>
            <div class="field">
                <label for="judge">{{ _('Main judge') }}</label>
                <input id="judge" type="text" name="judge">
            </div>
            <button type="submit" class="ui button">{{ _('Next') }}</button>
        </form>
    </div>
{% endblock %}