{% extends "mobile/index.html" %}
{% block title %}{{ _('Live Tournament') }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="ui ">
        <div align="center" class="ui segment">
            <h3>{{ _('Tournament created') }}!</h3>
            <h4>{{ _('Copy this key, your will need it for access') }}</h4>
            <h4>{{ key }}</h4>
            <a class="ui green button"
               href="{{ url_for('.live_tournament_add_players', key=key) }}">
                {{ _('Next') }}
            </a>
        </div>
    </div>
{% endblock %}