{% extends "mobile/index.html" %}
{% block title %}{{ _('Live Tournament') }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="ui ">
        <div class="centered grid">
            <div class="ui form">
                <div>
                    <div class="ui centered grid inline fields">
                        <div class="field">
                            <label>{{ _('Find tournament') }}</label>
                            <input id="key" name="tournament_id"
                                   placeholder="{{ _('Input unique key') }}">
                        </div>
                        <button onclick="findTournament()"
                                class="ui basic icon button">
                            <i class="search icon"></i></button>
                    </div>
                </div>
                <div align="center" style="margin: 5%">
                    <a class="ui big positive button"
                       href="{{ url_for('.live_tournament_create') }}">
                        {{ _('Create new tournament') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function findTournament() {
            window.location.href = "/{{ g.lang }}/live-tournament/" + $('#key').val()
        }
    </script>
{% endblock %}