{% extends "mobile/index.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="ui ">
        <div class="ui big breadcrumb">
            <a class="section"
               href="{{ url_for('.tournament', id=player_tournament.tournament_id) }}">
                {{ name(player_tournament.tournament.name) }}
            </a>
            <i class="right angle icon divider"></i>
            <a class="active section"
               href="{{ url_for('.player', id=player_tournament.player_id ) }}">
                {{ name(player_tournament.player.name) }}
            </a>
        </div>
        <table class="ui table">
            <thead>
            <tr>
                <th>{{ _('Start Rating') }}</th>
                <th>{{ _('Start Weight') }}</th>
                <th>Δ {{ _('Rating') }}</th>
                <th>Δ {{ _('Weight') }}</th>
            </tr>
            </thead>
            <tr>
                <td>{{ player_tournament.start_rating }}</td>
                <td>{{ player_tournament.start_weight }}</td>
                <td>{{ player_tournament.delta_rating|color }}</td>
                <td>{{ player_tournament.delta_weight }}</td>
            </tr>
        </table>
        <h3>{{ _('Games') }}</h3>
        {% if player_tournament.games %}
            <table class="ui table">
                <thead>
                <tr>
                    <th>{{ _('Result') }}</th>
                    <th>{{ _('Opponent') }}</th>
                    <th>{{ _('Opponent rating') }}</th>
                    <th>{{ _('Contribution') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for x in player_tournament.games %}
                    <tr>
                        {% if x.result %}
                            <td style="color: green">{{ _('Win') }}</td>
                        {% else %}
                            <td style="color: red">{{ _('Lose') }}</td>
                        {% endif %}
                        {% if x.opponent_id %}
                            <td>
                                <a href="{{ url_for('.player_tournament',
                                player_id=x.opponent_id,
                                tournament_id=x.tournament_id) }}">
                                    {{ name(x.opponent_name) }}</a></td>
                        {% else %}
                            <td>{{ name(x.opponent_name) }}</td>
                        {% endif %}
                        <td>{{ x.opponent_rating }}</td>
                        <td>{{ x.contribution }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}{{ _('No games') }}
        {% endif %}
    </div>
{% endblock %}