{% extends "mobile/index.html" %}
{% block title %}{{ name(tournament.name) }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="ui ">
        <h3 class="ui header">{{ name(tournament.name) }}</h3>
        <p><strong>{{ _('City') }}: </strong>{{ name(tournament.city) }}</p>
        <p><strong>{{ _('Judge') }}: </strong>{{ name(tournament.judge) }}</p>
        <h3 class="ui header">{{ _('Participants') }} {{ tournament.players_info|length }}</h3>
        <table id="table" class="ui table data-table">
            <thead>
            <tr>
                <th>{{ _('Player') }}</th>
                <th class="popup" data-content="{{ _('Start Rating') }}">
                    P<sub>0</sub></th>
                <th>Δ P</th>
                <th class="popup" data-content="{{ _('Start Weight') }}">
                    B<sub>0</sub></th>
                <th>Δ B</th>
            </tr>
            </thead>
            <tbody>
            {% for x in tournament.players_info %}
                <tr>
                    <td><a href="{{ url_for('.player_tournament',
                  player_id=x.player_id,
                  tournament_id=tournament.id) }}">
                        {{ name(x.player.name) }}</a></td>
                    <td>{{ x.start_rating }}</td>
                    <td>{{ x.delta_rating|color }}</td>
                    <td>{{ x.start_weight }}</td>
                    <td>{{ x.delta_weight }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}