{% extends "mobile/index.html" %}
{% block title %}{{ player.name }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
    <div class="ui ">
        <h3>{{ player.name }} <span
                style="color: green">{{ player.rating }}</span></h3>
        <span>{{ name(player.country.name) }} <i
                class="{{ player.country.code_2.lower() }} flag"></i>
            </span>
        <canvas id="myChart"></canvas>
        <script type="text/javascript">
            var dates = {{ dates|tojson }};
            var ratings = {{ ratings|tojson }};
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [{
                        label: "{{ _('Rating') }}",
                        data: ratings,
                        borderWidth: 2,
                        pointHitRadius: 13
                    }]
                }
            });
        </script>
    </div>
{% endblock %}

