<!doctype html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
        <link rel="icon" href="/static/img/logo.png">
        <meta name="keywords" content="{{ config.PAGE_META_KEYWORDS }}">
        <meta name="description" content="{{ config.PAGE_META_DESCRIPTION }}">
        <title>{% block title %}{% endblock %} - TTennis</title>
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer" class="footer-right">
    {% block footer %}
        <div class="ui divider"></div>
        <div class="ui footer">
            <div class="ui three column grid">
                <div class="column" align="center">
                    @ 2017 <a
                        href="{{ url_for('main.about') }}">{{ config.BRAND }}</a>
                    <div>{{ _('Rating data a taken from') }}
                        <a href="http://reiting.com.ua/"
                           target="_blank">reiting.com.ua</a>
                    </div>
                    <!--language selection-->
                </div>
                <div class="column" align="center">
                    {% for i, name in config.SUPPORTED_LANGUAGES.items() %}
                        {% if i == g.lang %}
                            <a class="item"
                               href="{{ request.url.replace('/%s/' % g.lang,'/%s/' % i) }}">
                                {{ name }}</a> ·
                        {% else %}
                            <a class="active item" style="color: darkgrey"
                               href="{{ request.url.replace('/%s/' % g.lang,'/%s/' % i) }}">
                                {{ name }}</a> ·
                        {% endif %}
                    {% endfor %}
                    <div>{% from '_utils.html' import share_buttons with context %}
                        {{ share_buttons() }}</div>
                </div>
                <div class="column" align="center">
                    <strong>{{ _('Contacts') }}:</strong>
                    <p><i class="mail icon"></i>{{ config.EMAIL }}</p>
                </div>
            </div>
        </div>
    {% endblock %}
</div>
</body>
</html>