{% extends "index.html" %}
{% block title %}{{ _('Rating') }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="ui text container">
        <form>
            <div class="five inline fields">
                <strong class="header field">{{ _('Rating' ) }}</strong>
                <div class="ui field dropdown">
                    <input type="hidden" name="year" value="{{ year }}">
                    <i class="dropdown icon"></i>
                    <strong class="header text">{{ year }}</strong>
                    <div class="menu">
                        {% for y in years %}
                            <div class="item"
                                 data-value="{{ y }}">{{ y }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ui field dropdown">
                    <input type="hidden" name="month" value="{{ month }}">
                    <i class="dropdown icon"></i>
                    <strong class="header text">{{ _(month|month_abbr) }}</strong>
                    <div class="menu">
                        {% for m in range(1, 13) %}
                            <div class="item"
                                 data-value="{{ m }}">{{ _(m|month_abbr) }}</div>
                        {% endfor %}
                    </div>
                </div>
                <button class="ui field" style="border: none;background: none"
                        type="submit">
                    <i class="search icon"></i>
                </button>
{#                <div class="ui accordion field" align="right">#}
{#                    <div class="title">#}
{#                        <i class="icon dropdown"></i>#}
{#                        {{ _('Filter') }}#}
{#                    </div>#}
{#                    <div class="content field" align="left">#}
{#                        <div id="city_search"#}
{#                             class="five wide field ui search">#}
{#                            <input class="prompt" type="text"#}
{#                                   placeholder="{{ _('City') }}"#}
{#                                   value="{{ city }}">#}
{#                            <input id="city" name="city"#}
{#                                   hidden>#}
{#                            <div class="results"></div>#}
{#                        </div>#}
{#                        <div data-role="rangeslider">#}
{#                            <label for="price-min">{{ _('Year') }}:</label>#}
{#                            <input type="range" name="year-min" id="year-min"#}
{#                                   value="1900" min="0" max="{{ year }}">#}
{#                            <input type="range" name="year-max" id="year-max"#}
{#                                   value="{{ year }}" min="0" max="1900">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <br>
            <div class="ui two column grid">
                <div class="column">
                    <div class="ui basic buttons">
                        <a class="ui button {% if category=='MEN' %}active{% endif %}"
                           href="{{ url_for('.rating', year=year, month=month, category='MEN') }}">
                            {{ _('MEN') }}</a>
                        <a class="ui button {% if category=='WOMEN' %}active{% endif %}"
                           href="{{ url_for('.rating', year=year, month=month, category='WOMEN') }}">
                            {{ _('WOMEN') }}</a>
                    </div>
                </div>
                <div align="right" class="ui column search" id="player_search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" name="player"
                               placeholder="{{ _('Player name') }}">
                        <i class="search icon"></i>
                    </div>
                    <div align="left" class="results"></div>
                </div>
            </div>
            <table class="ui striped compact table" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th>{{ _('#') }}</th>
                    <th>{{ _('Player name') }}</th>
                    <th class="popup" data-content="{{ _('Fine Rating') }}">
                        P*
                    </th>
                    <th class="popup" data-content="{{ _('Rating') }}">P
                    </th>
                    <th class="popup" data-content="{{ _('Max Rating') }}">
                        Pmax
                    </th>
                    <th>{{ _('Weight') }}</th>
                    <th>{{ _('Year') }}</th>
                    <th>{{ _('City') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for p in rating.items %}
                    <tr>
                        <td>{{ p.position }}</td>
                        <td>
                            <a href="{{ url_for('.player', id=p.player.id) }}">{{ name(p.player.name) }}</a>
                        </td>
                        <td>{{ p.rating_fine }}</td>
                        <td><strong>{{ p.rating }}</strong></td>
                        <td>{{ p.player.max }}</td>
                        <td>{{ p.weight|int }}</td>
                        <td>{{ p.player.year }}</td>
                        <td>{{ name(p.player.city) if not p.player.city2 else name(p.player.city) + '-' + name(p.player.city2) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div align=right>
                {% from '_utils.html' import render_pagination with context %}
                {{ render_pagination(rating) }}
            </div>
        </form>
    </div>
    <script>
        $('#city_search').search({
            source: {{ cities|tojson }},
            searchFields: [
                'title'
            ],
            onSelect: function (item) {
                $('#city_search').val(item.title);
                $('#city').val(item.id)
            },
            minCharacters: 3
        });
        $('#player_search').search({
            apiSettings: {
                action: 'search',
                url: '/{{ g.lang }}/player-search/{query}',
                onResponse: function (serverResponse) {
                    var response = {results: []};
                    $.each(serverResponse, function (index, item) {
                        var row = {
                            title: item.name + ' <span style="color:green">' + item.rating + '</span>',
                            description: item.city,
                            url: item.url
                        };
                        if (item.image != null)
                            row.image = item.image;
                        response.results.push(row);
                    });
                    return response;
                }
            },
            minCharacters: 3
        });
    </script>
{% endblock %}