{% extends "index.html" %}
{% block title %}{{ _('Підписатись') }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="ui text container">
        <h3 align="center">{{ _('Нова підписка') }}</h3>
        {% if accepted %}
            <div>
                <h3>{{ _('Дякуємо! Лист з підтвердженням вислано на Ваш email!') }}</h3>
            </div>
        {% elif confirmed %}
            <div>
                <h3>{{ _('Дякуємо! Ваш email підтверджено!') }}</h3>
            </div>
        {% else %}
            {{ _('Підпишіться на ttennis.life і отримуйте сповіщення про оновлення
             рейтингу щомісяця з цікавою статистикою та аналітикою!') }}
            <br>
            <form class="ui form" method="post">
                <div class="field">
                    <input type="email" name="email" required
                           placeholder="{{ _('Введіть email') }}">
                    {% if errors['email'] %}
                        <p>{{ _(errors['email']) }}</p>
                    {% endif %}
                </div>
                <div class="field">
                    <input type="password" name="password" required
                           placeholder="{{ _('Введіть пароль') }}">
                    {% if errors['password'] %}
                        <p>{{ _(errors['password']) }}</p>
                    {% endif %}
                </div>
                <h4>{{ _('Якщо ви гравець, будь-ласка знайдіть себе:') }}</h4>
                <div id="player_search" class="five wide field ui search">
                    <input class="prompt" type="text" name="name"
                           placeholder="{{ _("Ім'я гравця") }}"
                           value="{{ player1 }}">
                    <div align="left" class="results"></div>
                </div>
                <input id="player_id" name="player_id" hidden>
                <label>{{ _('Мова') }}:</label>
                <select class="ui compact dropdown field" name="lang">
                    {% for i, name in config.SUPPORTED_LANGUAGES.items() %}
                        <option value="{{ i }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <div class="field" align="center">
                    <button class="ui negative button"
                            type="submit">{{ _('Підписатись') }}</button>
                </div>
            </form>
        {% endif %}
    </div>
    <script>
        var options = {
            action: 'search',
            url: '/{{ g.lang }}/player-search/{query}',
            onResponse: function (serverResponse) {
                var response = {results: []};
                $.each(serverResponse, function (index, item) {
                    response.results.push({
                        title: item.name,
                        description: item.city,
                        id: item.id
                    });
                });
                return response;
            }
        };
        $('#player_search').search({
            apiSettings: options,
            onSelect: function (item) {
                $('#player_id').val(item.id);
            },
            minCharacters: 3
        });
    </script>
{% endblock %}

