{% extends "index.html" %}
{% block title %}{{ _('Турніри онлайн') }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="ui text container">
        <div align="center" class="ui segment">
            <h3>{{ _('Tournament created') }}!</h3>
            <h4>{{ _('Зкопіюйте цей ключ для доступу до турніру') }}</h4>
            <h4>{{ key }}</h4>
            <a class="ui green button"
               href="{{ url_for('.live_tournament_add_players', key=key) }}">
                {{ _('Далі') }}
            </a>
        </div>
    </div>
{% endblock %}